<h2>Käyttäjän Tiedot</h2>

<ul>
	
	<li>
		Tunnus: <%= h @user.name %>		
	</li>
	<li>
		Opiskelijanumero: <%= h @user.student_number %>		
	</li>
	<li>
		Email: <%= h @user.email %>
	</li>
	<li>
		<%= image_tag @user.avatar.url(:thumb) %>
	</li>
	
</ul>

<h3>Rekisteröitymisesi</h3>
<ul>
	
	<% @groups.each do |g| %>
		<li>
			
			<%= g.course_instance.course.name %> <%= g.course_instance.lecture_time %> <%= g.lecture_time %>
			
		</li>
	<% end %>
</ul>


<%= link_to 'Muokkaa asetuksiasi', edit_user_path(@user) %> |
<%= link_to 'Takaisin kursseihin', courses_path %>

<p>
<hr>
<%= link_to 'Poista rekisteröinti', @user, :confirm => 'Todellako?', :method => :delete %>
	
</p>