<h1>Listing exercise_groups</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Lecture time</th>
  </tr>

<% @exercise_groups.each do |exercise_group| %>
  <tr>
    <td><%=h exercise_group.number %></td>
    <td><%=h exercise_group.lecture_time %></td>
    <td><%= link_to 'Show', exercise_group %></td>
    <td><%= link_to 'Edit', edit_exercise_group_path(exercise_group) %></td>
    <td><%= link_to 'Destroy', exercise_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New exercise_group', new_exercise_group_path %>