<h1>Listing course_instances</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Lecture time</th>
  </tr>

<% @course_instances.each do |course_instance| %>
  <tr>
    <td><%=h course_instance.number %></td>
    <td><%=h course_instance.lecture_time %></td>
    <td><%= link_to 'Show', course_instance %></td>
    <td><%= link_to 'Edit', edit_course_instance_path(course_instance) %></td>
    <td><%= link_to 'Destroy', course_instance, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New course_instance', new_course_instance_path %>