<p>
  <b>Lecture time:</b>
  <%=h @course_instance.lecture_time %>
</p>

<p>
	<h3><%= h ExerciseGroup.human_name.pluralize %></h3>
	<ul>
<% @course_instance.exercise_groups.each do |eg| %>

	
<li>
	<%= link_to eg.title, course_course_instance_exercise_group_path(@course_instance.course, @course_instance, eg) %>
	<%=h eg.users.size %> <%= User.human_name %> <%= h Registration.human_name.pluralize %>	
</li>
	

<% end%>
</ul>
</p>	
