<p>
  <b>Number:</b>
  <%=h @course_instance.number %>
</p>

<p>
  <b>Lecture time:</b>
  <%=h @course_instance.lecture_time %>
</p>

<% @course_instance.exercise_groups.each do |eg| %>
<p>
	
<%= link_to eg.id, eg %><br/>
	
</p>
<% end%>
	
	


<%= link_to 'Edit', edit_course_instance_path(@course_instance) %> |
<%= link_to 'Back', course_instances_path %>