<h2><%= (t "new").capitalize%> <%= h @course.class.human_name %></h2>

<% form_for(@course) do |f| %>
<%= render :partial => "form", :locals  => {:f => f, :model => @course }%>
  <p>
    <%= f.submit 'Luo' %>
  </p>
<% end%>
<%= link_to 'Back', courses_path %>