<p>
  <b>Nimi:</b>
  <%=h @course.name %>
</p>

<p>
  <b>Kuvaus:</b>
  <%=h @course.description %>
</p>

<%= link_to 'Muokkaa', edit_course_path(@course) %> |
<%= link_to 'Takaisin', courses_path %>

<p>
	<ul>
<% @course.course_instances.each do |ci| %>
	<li><%= link_to ci.lecture_time, course_course_instance_path(@course, ci) %></li>
<%end %>
	</ul>
</p>

<h3>Erilliskokeet</h3>

<p>
	<ul>
		<% @course.separate_exams.each do |e| %>
			<li>
				<%= e.name %> - <%= link_to "ilmottaudu",separate_exam_registrations_path(:id => e.id), :method => :post %>
				<% if current_user.separate_exams.include? e %>
				Olet jo ilmonnut
				<% end %>
			</li>			
		<% end %>
	</ul>
</p>

<h3>Kurssi palaute</h3>
<p>
	<% form_for :feed_back, @feed_back, :url => feed_backs_path(:id => @course.id), :html => { } do |f| %>
		<%= f.error_messages %>
		<%= f.label :palaute %>
		<%= f.text_area :feed_back %>
		<%= f.submit :lähetä %>
	<% end %>
</p>
	
