<p>
  <b>Nimi:</b>
  <%=h @course.name %>
</p>

<p>
  <b>Kuvaus:</b>
  <%=h @course.description %>
</p>
<p>
<% @course.course_instances.each do |ci| %>
<%= link_to ci.id, course_course_instance_path(@course, ci) %>
<%end %>
</p>

<%= link_to 'Muokkaa', edit_course_path(@course) %> |
<%= link_to 'Takaisin', courses_path %>