<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title>Ilmo 2.0</title>
        <%= stylesheet_link_tag "blueprint/screen" %>
		<%#= javascript_include_tag 'XMLHttpRequest' ,'v2.standalone.full.min', 'v2.config', 'v2.rails' %>

    </head>
    <body>
        <div class="container">
            <div class="span-24 last">
               <div class="box">Header<p>
               	<%if session[:user] %>
      					<%=link_to 'Kirjaudu ulos', logout_path, :confirm => 'Oletko varma?' %>
    			<%end%>
				</p>
					<p style="color: green"><%= flash[:notice] %></p>
					<p style="color: #990000;red"><%= flash[:warn] %></p>
				</div>
            </div>
            <div class="span-4">
                <p></p>
            </div>
            <div class="span-16">
                <%= yield%>
            </div>
            <div class="span-4 last">
               <p></p>
            </div>
			<div class="span-24 last">
				<p clasS="box"><%= my_date %></p>
			</div>
        </div>
    </body>
</html>
